future
gitpython
emoji
requests
telethon
PyGithub
sqlalchemy
pyrogram>=1.0.7
TgCrypto>=1.2.2
python-telegram-bot==12.8
psycopg2-binary
pythonping
feedparser
pytz
gtts
bs4
lxml
demjson
wget
bs4
telegraph
psutil
speedtest-cli>=2.0.2
googletrans==3.1.0a0
wikipedia
spamwatch
bleach
git+https://github.com/starry69/python-markdown2.git
alphabet_detector
redis
html5lib
jikanpy
aiohttp>=2.2.5
Pillow>=4.2.0
pyrate-limiter
